MessengerClient/Connected Services/ServiceMessenger/MessengerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MessengerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMessengerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessengerService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_CreateChat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateChat" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetChats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChats" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetChats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatsResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_CreateChatCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CreateChatCallback" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_SendMessageCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMessageCallback" />
  </wsdl:message>
  <wsdl:portType name="IMessengerService">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/Registration" message="tns:IMessengerService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/RegistrationResponse" message="tns:IMessengerService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/Login" message="tns:IMessengerService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/LoginResponse" message="tns:IMessengerService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/Disconnect" message="tns:IMessengerService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/DisconnectResponse" message="tns:IMessengerService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/GetUsers" message="tns:IMessengerService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/GetUsersResponse" message="tns:IMessengerService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/CreateChat" message="tns:IMessengerService_CreateChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChats">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/GetChats" message="tns:IMessengerService_GetChats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/GetChatsResponse" message="tns:IMessengerService_GetChats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/GetMessages" message="tns:IMessengerService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/GetMessagesResponse" message="tns:IMessengerService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/SendMessage" message="tns:IMessengerService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateChatCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/CreateChatCallback" message="tns:IMessengerService_CreateChatCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/SendMessageCallback" message="tns:IMessengerService_SendMessageCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMessengerService" type="tns:IMessengerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMessengerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChat">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/CreateChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetChats">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/GetChats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateChatCallback">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/CreateChatCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageCallback">
      <soap12:operation soapAction="http://tempuri.org/IMessengerService/SendMessageCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessengerService">
    <wsdl:port name="NetTcpBinding_IMessengerService" binding="tns:NetTcpBinding_IMessengerService">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALEXANDER\sasha</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>